<div class="grid-100 row controls">
  <div class="grid-30">
    <select ng-change="vm.getRecipesForCategory(chosen.name)" ng-options="category as category.name for category in vm.getCategories" ng-model="chosen">
      <option value="" disabled selected>Categories:</option>
    </select>
  </div>
  <div class="grid-70">
    <div class="flush-right">
      <button ng-click="vm.addRecipe()">+ Add Recipe</button>
    </div>
  </div>
</div>
<div class="clear"></div>

<div ng-hide="available.length" class="grid-100 row">
  <div class="grid-70">
    <p>No recipes found!</p>
  </div>
</div>

<div class="grid-100 row addHover" ng-repeat="recipe in vm.getRecipes | filter:chosen.name as available">
  <a ng-href="#!/edit/{{recipe._id}}">
    <div class="grid-70">
      <p>{{recipe.name}}</p>
    </div>
  </a>
  <div class="hoverBlock">
    <div class="grid-30">
      <div class="flush-right">
        <p>
          <a ng-href="#!/edit/{{recipe._id}}"> <img src="images/edit.svg" height="12px"> Edit </a>
          <a ng-click="vm.deleteRecipe(recipe, $index)" class="no-action-link"> <img src="images/delete.svg" height="12px"> Delete </a>
        </p>
      </div>
    </div>
  </div>
</div>
