<div class="grid-100 row controls" ng-controller="RecipesController as vm">
  <div class="grid-30">
    <!-- TODO Add directives to the select elememt in order to 
      populate the list with the categories from the database.
      You'll also need to add directives to handle when the user 
      selects a new category so that you can refresh the recipes list. -->
    <select ng-change="vm.getRecipesForCategory(chosen.name)" ng-options="category.name for category in vm.getCategories track by category.name" ng-model="chosen">
      <option value="">Categories:</option>
    </select>
  </div>
  <div class="grid-70">
    <div class="flush-right">
      <button ng-click="vm.addRecipe()">+ Add Recipe</button>
    </div>
  </div>
</div>
<div class="clear"></div>

<!-- TODO Add a directive to this div element so that it only displays
  when there are no recipes to display. -->
<div ng-hide="available.length" class="grid-100 row">
  <div class="grid-70">
    <p>No recipes found!</p>
  </div>
</div>

<!-- TODO Add a directive to this div element so that it repeats 
  for each recipe to display. Also, add a directive to this div element 
  so that it only displays when there are recipes to display. -->
<div class="grid-100 row addHover" ng-repeat="recipe in vm.getRecipes as available">
  <a ng-href="#!/edit/{{recipe._id}}">
    <div class="grid-70">
      <p>{{recipe.name}}</p>
    </div>
  </a>
  <div class="hoverBlock">
    <div class="grid-30">
      <div class="flush-right">
        <p>
          <a ng-href="#!/edit/{{recipe._id}}"> <img src="images/edit.svg" height="12px"> Edit </a>
          <!-- TODO Add a directive to this anchor element so that you can 
            delete the recipe when the user clicks on the 'Delete' link. -->
          <a ng-click="vm.deleteRecipe(recipe, $index)" class="no-action-link"> <img src="images/delete.svg" height="12px"> Delete </a>
        </p>
      </div>
    </div>
  </div>
</div>
